{% extends 'base.html' %}
{% block body %}

        <div class="container">
            <h1>usuarios</h1>
        {% for usuario in lista_usuarios %}
                <div class="container mt-5 d-flex justify-content-center">
                    <div class="card p-3">
                        <div class="d-flex flex-column flex-sm-row align-items-center text-center text-sm-start">
                            <div class="image pe-sm-2 mb-2 mb-sm-0">
                                <img src="{{ url_for('static', filename='fotos_perfil/{}'.format(usuario.foto_perfil)) }}" class="rounded img-fluid" style="max-width: 120px;">
                            </div>
                            <div class="ms-sm-3 w-100">
                                <h4 class="mb-0 mt-0">{{ usuario.username }}</h4> <span>{{ usuario.email }}</span>
                                <div class="p-2 mt-2 bg-primary d-flex justify-content-between rounded text-white stats">
                                         {% if 'Não Informado' in usuario.cursos %}
                                             <div class="d-flex